__pycache__/*
*.pyc
# файлы данных
*.npy
*.npz
*.csv
*.7z
# папка с данными
datas/*
# локальные настройки vs code
.vscode/*
# временные
tmp*
# логи
logs/*
# архивы
*.zip
*.gz
# БД
*.sqlite
# мусор
trash
# логи
*.log
config.json
# Временные файлы
~$*
**/csharp/**